<?xml version="1.0"?>
<!--
/**
 * Aimane Couissi - https://aimanecouissi.com
 * Copyright © Aimane Couissi 2026–present. All rights reserved.
 * Licensed under the MIT License. See LICENSE for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="admin" translate="label" type="text" sortOrder="99" showInDefault="1">
                <label>Admin</label>
                <field id="hide_configurable_children" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" canRestore="1">
                    <label>Hide Configurable Product Children</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hide simple products assigned to configurable products from the Admin product grid.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
